<mat-drawer-container class="example-container" >
    <mat-drawer mode="side" opened style="background-color: #E7F6F2; width: 17%;" >
      <button mat-button  color="primary" class="but" ><a [routerLink]="['/Produit']">Produit</a> </button><br>
      <!--<button mat-button color="primary" class="but" ><a href="">Client</a> </button><br>-->
      <button mat-button color="primary" class="but" ><a [routerLink]="['/Promotion']">Promotion</a> </button><br>
      <button mat-button color="primary" class="but" ><a [routerLink]="['/Fournisseur']">Fournisseur</a> </button><br>
    </mat-drawer>
    <mat-drawer-content>
     mon-compte work!!
    </mat-drawer-content>
  </mat-drawer-container>
