<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Se connecter</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" name="email" [(ngModel)]="email">
        <mat-hint>Errors appear instantly!</mat-hint>
      </mat-form-field>
    </form>
    <div  class="example-container">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-error *ngIf="error">{{error}}</mat-error>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="login()">Se connecter</button>
    <span>D'ont have an acount? </span> <br>
    <a [routerLink]="['/register']">register</a>
      
  </mat-card-actions>
</mat-card>
