<header>
  <mat-toolbar color="primary">
    <a class="logo" [routerLink]="['/home']"></a>
    <span> <a [routerLink]="['/home']" id="link"> AudioVisuel STORE</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <a mat-button routerLink="/products" routerLinkActive="active">Les Produits</a>
    <a *ngIf="!user" mat-button routerLink="/login" routerLinkActive="active">Se connecter</a>
    <div>
      <a *ngIf="user" [matMenuTriggerFor]="menu"mat-button>
        <mat-icon>account_circle</mat-icon>{{user.firstname}}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Se deconnecter</button>
        <button mat-menu-item [routerLink]="['/compte']">Mon Compte</button>
      </mat-menu>
      
    </div>
  </mat-toolbar>
</header>


<router-outlet></router-outlet>