




















<div class="container"> <br><br><br>
  <div class="box-nav d-flex justify-between"> 
      <a [routerLink]="['/createUpdatePromo']" class="border-shadow">
          <span class="text-gradient">Nouveau Promotion <i class="fas fa-user"></i></span>
      </a>
  </div><br><br>



  <div class="card">
  <div class="card-body">
    <h4 class="card-title">Les promotions</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>code Promo</th>
          <th>pourcentage</th>
          <th>Date debut</th>
          <th>Date fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promotion of promotions">
          <td>{{promotion.codePromo}}</td>
          <td>{{promotion.pourcentage}}</td>
          <td>{{promotion.beginDate}}</td>
          <td>{{promotion.endDate}}</td>
          <td><button mat-button (click)="update(promotion)">Modifier</button></td>
          <td><button mat-button (click)="delete(promotion)">Supprimer</button></td>
        </tr>
      </tbody>

    </table>

  </div>

</div>