<div class="container"> <br><br><br>
    <div class="box-nav d-flex justify-between"> 
        
          <button mat-button (click)="create()">Nouveau fournisseur</button>
            
        
    </div><br><br>
  
  
  
    <div class="card">
    <div class="card-body">
      <h4 class="card-title">Les fournisseurs</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fournisseur of fournis">
            <td>{{fournisseur.emailFormControl}}</td>
            <td>{{fournisseur.firstname}}</td>
            <td>{{fournisseur.lastname}}</td>
            <td><button mat-button (click)="update(fournisseur)">Modifier</button></td>
            <td><button mat-button (click)="delete(fournisseur)">Supprimer</button></td>
          </tr>
        </tbody>
  
      </table>
  
    </div>
  
  </div>